<nav class="navbar navbar-expand-lg navbar-light bg-gray fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Додому</a>
    <ul *ngIf="isBrowser" class="navbar-nav me-auto mb-2 mb-lg-0">
      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link" aria-current="page" href="/income/">Доходи</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link" href="/expense">Витрати</a>
      </li>
          <li *ngIf="!isAuthenticated" class="nav-item ml-auto">
            <a class="nav-link" href="/login/">Вхід</a>
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item">
            <a class="nav-link" href="/signup/">Зарегіструватися</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">Вихід</a>
          </li>
    </ul>
  </div>
</nav>


<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JSt/Q6fVrI/e7xL6e3/wekIGfcoKfB0Ui/1B0O8mcxt"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fIs3/XXh6AfbjRt7/8lo88pM6SWTre.end(Y58/V/pp7cafkjfqhkuC"
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-dX3g3+gudtzZzXPoCkDjqLrQzpr6+8M8JLuFRHkSXh+/kTXsAZaXA7LtbS+zrsAQ"
  crossorigin="anonymous"
></script>

<router-outlet />
<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">КОНТАКТНА ІНФОРМАЦІЯ</h5>
        <p>
          Email: exampleexample.com<br>
          Phone: +1234567890<br>
          Website: www.money_up_and_down
        </p>
      </div>
    
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Автори</h5>
    
        <p>
          Andriy Yatsura<br>
          Ivan Prokhorchuk
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>    
